<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Configuration</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>A</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>selectAllKey</string>
			<key>label</key>
			<string>Select all</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>C</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>copyKey</string>
			<key>label</key>
			<string>Copy</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>X</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>cutKey</string>
			<key>label</key>
			<string>Cut</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>V</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>pasteKey</string>
			<key>label</key>
			<string>Paste</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Z</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>undoKey</string>
			<key>label</key>
			<string>Undo</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>R</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>redoKey</string>
			<key>label</key>
			<string>Redo</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>S</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>selectLastKey</string>
			<key>label</key>
			<string>Select last word</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>B</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>beginningKey</string>
			<key>label</key>
			<string>Beginning of document</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>E</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>endKey</string>
			<key>label</key>
			<string>End of document</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>F</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>firstHigherKey</string>
			<key>label</key>
			<string>Capitalize last word</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>U</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>lastUpperKey</string>
			<key>label</key>
			<string>Last word to upper</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>L</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>lastLowerKey</string>
			<key>label</key>
			<string>Last word to lower</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>D</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>deleteLastKey</string>
			<key>label</key>
			<string>Delete last word</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Q</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>dismissKey</string>
			<key>label</key>
			<string>Dismiss keyboard</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Y</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>remoteKey</string>
			<key>label</key>
			<string>Paste from remote clipboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Remote clipboard</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>remoteURL</string>
			<key>label</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Profiles</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>oneKey</string>
			<key>label</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>twoKey</string>
			<key>label</key>
			<string>2</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>threeKey</string>
			<key>label</key>
			<string>3</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>fourKey</string>
			<key>label</key>
			<string>4</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>fiveKey</string>
			<key>label</key>
			<string>5</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>sixKey</string>
			<key>label</key>
			<string>6</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>sevenKey</string>
			<key>label</key>
			<string>7</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>eightKey</string>
			<key>label</key>
			<string>8</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>nineKey</string>
			<key>label</key>
			<string>9</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>zeroKey</string>
			<key>label</key>
			<string>0</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>atKey</string>
			<key>label</key>
			<string>@</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KeyShortcutTintedTextCell</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>org.mustafaa.keyshortcut</string>
			<key>key</key>
			<string>spaceKey</string>
			<key>label</key>
			<string>Space</string>
		</dict>
	</array>
</dict>
</plist>
